<div class="form-group col-md-4 m-md-auto pt-md-4" [formGroup]="paymentform">
    <h4 class="mt-md-4 mb-md-5 text-center">Payment Gateway</h4>
    <div class="form-group">
       <label for="Payable-amount">Payable amount</label>
       <input type="text" formControlName="purchaseamount" class="form-control">
       <div *ngIf="paymentform.controls['purchaseamount'].invalid && (paymentform.controls['purchaseamount'].dirty || paymentform.controls['purchaseamount'].touched)" class="has_error">
        <div *ngIf="paymentform.controls['purchaseamount'].errors">
              This field is required
       </div>
       </div>
    </div>
    <div class="form-group">
        <label for="Payable-amount">Payment method</label>
        <select class="form-control" formControlName="paymentmode" class="form-control">
            <option value="debitcard">debitcard</option>
            <option value="creditcard" selected="selected">creditcard</option>
            <option value="upi">upi</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cardnumber">cardnumber</label>
        <input type="number" formControlName="cardnumber" class="form-control" minlength="4" maxlength="12">
        <div *ngIf="paymentform.controls['cardnumber'].invalid && (paymentform.controls['cardnumber'].dirty || paymentform.controls['cardnumber'].touched)" class="has_error">
            <div *ngIf="paymentform.controls['cardnumber'].errors">
                  This field is required
           </div>
           <!-- <div *ngIf="paymentform.controls['cardnumber'].errors || paymentform.controls['cardnumber'].length>12" >
            The 12 number is required
            </div> -->
     </div>
    </div>
    <div class="d-md-flex justify-content-md-between">
         <div class="form-group">
          <label for="ex-card-date">Exp-date</label>
          <input type="date" formControlName="expirydate" class="form-control">
         </div>
         <div class="form-group">
             <label for="cvv-number">cvv-number</label>
             <input type="text" formControlName="cvv_number" class="form-control">
         </div>
    </div>
</div>
