<div class="add-product">
    <h2 class="text-center mt-5">Add product</h2>
    
    <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm" [fromGroup]="productadd"> -->
    <div class="col-md-8 m-md-auto" [formGroup]="productadd">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="productadd.controls['name'].invalid && (productadd.controls['name'].dirty || productadd.controls['name'].touched)" class="has_error">
                <div *ngIf="productadd.controls['name'].errors">
                      This field is required
               </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input type="text" class="form-control" formControlName="price">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <input type="text" class="form-control" formControlName="description">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="col-lg-4 btn btn-primary mt-5" (click)="saveproduct()">Save</button>
        </div>
    </div>
    <!-- </form> -->
    </div>