<div class="d-flex justify-content-end mr-5 mt-3">
  <div class="pr-lg-4"><a [routerLink]="['/login']" class="login">Login</a></div>
  <div><i class="fa fa-2x fa-shopping-cart" aria-hidden="true" (click)="purchaselistmodal(userproduct)">{{count}}</i></div>
</div>
    <div class="d-flex justify-content-center mt-3">
        <h4 class="cart-heading">Shooping Cart List</h4>
    </div>
<div class="product-page">
    <div class="product-list" *ngFor="let list of products">
      <div class="product-details">
         <div>
           <img src="{{list.imageIcon}}" alt="product-image" class="product-image">
         </div>
         <div class="product-name">{{list.name}}</div>
         <div class="product-price">{{list.price}}</div>
         <div><a class="add-product" (click)="addcart(list)">Add cart</a></div>
      </div>
    </div>
</div>

<ng-template #userproduct let-model>
  <div class="modal-header">
     <h4 class="modal-title">Product List</h4>
     <button type="button" class="close" aria-label="close">
        <span aria-hidden="true" (click)="close()">&times;</span>
     </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
       <tr>
        <td>Product image</td>
        <td>Product name</td>
        <td>Product price</td>
        <td>Action</td>
        <td>Quanity</td>
        <td>Price</td>
        </tr>
     </thead>
    <tbody class="product-list" >
      <tr class="shopp-product-details" *ngFor="let userproduct of userpurchaselist; let i=index">
         <td>
           <img src="{{userproduct.image}}" alt="product-image" class="shop-product-image">
         </td>
         <td class="product-name">{{userproduct.name}}</td>
         <td class="product-price">{{userproduct.price}}</td>
         <td class="d-flex justify-content-center">
           <button class="add" (click)="add(userproduct)">+</button>
           <button class="subract" (click)="subract(userproduct,i)">-</button>
         </td>
         <td>
          <span>{{userproduct.quanity}}</span>
         </td>
         <td>
             {{userproduct.quanity*userproduct.price}} 
         </td>
        </tr>
    </tbody>
  </table>
    
  </div>
  <div class="modal-footer">
    <label for="totalamount">Totalamount</label>
    <span>{{gettotalprice(userproduct)}}</span>
    <button type="button" class="btn btn-primary" (click)="pay()">
        Pay
    </button>
  </div>
</ng-template>