.cart-heading{
    font-size: 24px;
    text-align: center;
    color: red;
}

/* .logo{
    width: 150px;
} */
.product-page{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.product-list{
    padding: 24px 12px;
    text-align: center;
}
.product-details{
    width: 300px;
    padding: 12px 0px;
    margin: 24px 0px;
    border: 1px solid #e9e9eb;
    background-color: #fff;
}
.product-image{
    width: 250px;
    height: 250px;
}
.product-name{
    font-size: 16px;
    padding: 6px 0px;
    color: #333;
    font-weight: 400;
}
.product-price{
    font-size: 14px;
    font-weight: 100;
}
.add-product{
    display: inline-block;
    background-color: #fff;
    border: 1px solid red;
    padding: 8px 20px;
    margin: 12px 0px;
    font-size: 12px;
    text-decoration: none;
}
/* .user-account{
    display: flex;
    position: absolute;
    right: 20px;
    top: 24px;
} */
/* .my-products{
    padding: 0px 12px;
    text-decoration: none;
} */
/* .fa-shopping-cart{
   font-size: 24px;
   color: #000;
} */

.shop-product-image{
    width: 50px;
    height: 50px;
}
.table>:not(:first-child) {
    border: 0;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}