
<div class="col-lg-4 m-auto userLogin" [formGroup]="userLogin">
    <div class="form-group">
      <div class="form-group  text-center">
        <h5 class="form-title">Login</h5>
      </div>
   </div>

   <div class="form-group text-left mb-1">
            <label for="mobileno">Mobileno</label>
            <input type="text" class="login_input form-control" formControlName="mobileno" [placeholder]="'Enter your mobile number'"/>
        <div *ngIf="userLogin.controls['mobileno'].invalid && (userLogin.controls['mobileno'].dirty || userLogin.controls['mobileno'].touched)"
        class="has_error">
          <div *ngIf="userLogin.controls['mobileno'].errors.required">
                    This field is required
          </div>
        </div>
        <div *ngIf="userLogin.controls['mobileno'].errors.pattern">
          enter correct format
       </div>
        <!-- <div class="has_error" *ngIf="userLogin.invalid && (userLogin.get('mobileno').touched)">
        <p *ngIf="userLogin.get('mobileno').errors?.required" class="text-danger">
            This field is required
        </p>
       </div> -->
    </div>

   <div class="form-group">
       <label for="password">Password</label>
       <input type="password" class="form-control" formControlName="password" [placeholder]="'Enter your password'">
          <div *ngIf="userLogin.controls['password'].invalid && (userLogin.controls['password'].dirty || userLogin.controls['password'].touched)" class="has_error">
            <div *ngIf="userLogin.controls['password'].errors">
                This field is required
            </div>
          </div>
   </div>  
   
   <div class="text-center">
    <button type="button" class="col-md-4 btn-primary login-btn" [disabled]="userLogin.invalid" (click)="Loginuser()">Login</button>
  </div>

  <div class="text-center">
    Don't have an account?
 <a [routerLink]="['/signup']" class="normal_btn mt-2 text-left" style="font-size: inherit;">
    Sign Up
</a>
</div>
   
</div>

<!-- <div class="text-center">
  <button type="button" class="col-md-4 btn-primary login-btn" [disabled]="userLogin.invalid" (click)="Signupuser()" [routerLink]="['/shoppage']">Login</button>
</div>

<div class="text-center">
    Don't have an account?
 <a [routerLink]="['/signup']" class="normal_btn mt-2 text-left" style="font-size: inherit;">
    Sign Up
</a>
</div> -->
