<div class="container">
    <h2 class="text-center mt-4">List of Products</h2>
    <a routerLink="product/add" class="btn btn-primary mt-5 mb-5">Add product</a>
</div>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>
               <span class="mr-md-2">
                  <a [routerLink]="['product/edit',product.id]">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                 </a>
               </span>
               <span class="ml-md-4">
                  <button (click)="onDelete(product.id)" class="deletebutton">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </span>
           </td>
        </tr>
    </tbody>
</table>