<div class="edit-product mt-5">
    <div class="d-md-flex justify-content-md-between">
      <h2 class="text-center mt-5">Edit component</h2>
      <a routerLink="" class="btn btn-primary mt-5 mb-5">Back</a>
    </div>
    <form (ngSubmit)="onSubmit(edit)" #edit="ngForm" class="mt-5">

        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" disabled [ngModel]="product.id" name="id">
        </div>
        <div class="form-group">
            <label for="">name</label>
            <input type="text" class="form-control" [ngModel]="product.name" name="name">
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input type="text" class="form-control" [ngModel]="product.price" name="price">
        </div>
        <div class="form-group">
            <label for="">description</label>
            <input type="text" class="form-control" [ngModel]="product.description" name="description">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="col-lg-4 btn btn-primary mt-5">Save</button>
        </div>

    </form>

</div>